body {
  font-family: 'Arial', sans-serif;
  box-sizing: 0;
  background-color: #87CEEB;
  color: white;
  margin: 50px;
  padding: 15px;
}

.menu {
  font-family: 'Arial', sans-serif;
  box-sizing: 0;
  background-color: rgb(45, 143, 182);
  color: white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  flex-direction: column;
  line-height: 10px;
}

li {
  display: inline-block;
  margin: 20px;
}

a {
  color: white;
}

a:hover {
  color: rgb(132, 14, 201);

  transition: 0.3s all;
}

h1 {
  font-weight: 200px;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
}

h2 {
  font-size: 40px;
  line-height: 31px;
  color: rgb(25, 25, 112);
}


.inicio {
  line-height: 25px;
  max-width: 550px;
  font-size: 22px;
}

.frase {
  line-height: 25px;
  max-width: 500px;
  color: rgb(45, 143, 182);
  font-weight: 600;
  font-size: 22px;
}

img {
  margin:15px;
}


.competicao img{
  width: 425px;
  height:500px;
  margin:20px;
}

p {
  text-align: justify;
}

.center{
  text-align: center;
}


.topo{
  line-height: 25px;
  max-width: 500px;
  text-align: center;
  margin:50px;
}

h3 {
  color: rgb(25, 25, 112);
}

div {
  text-align: center;
}

.div{
display: flex;
justify-content: center;
}